body {
    background: radial-gradient( #eeaeca,#94bbe9);
}
body::-webkit-scrollbar {
    display: none;
}
.navbar-custom {
    background-color: transparent !important; /* semi-transparent black background */
    backdrop-filter: blur(0px); /* apply blur effect */
}
.bg-image {
    height: 60vh;
    background-image: url("https://res.cloudinary.com/dhva31opb/image/upload/v1716886145/Free_Photo___Written_task_nyw2rt.jpg");
    background-size: cover;
    width: 100%;
}
.main{
    padding-left: 18%;
    padding-top: 10%;
    border-radius: 20px;
    
}
.main h1 {
    font-style: bold;
}
.main button {
    margin-top: 20px;
}
.section {
    /* background: radial-gradient(#b021b0, #3a053a); */
    padding-top: 50px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
}
.section h1 {
    color: #fff;
    padding-bottom: 40px;
}

.frame {
    padding: 50px;
    width: 80%;
    background-color: rgba(247, 247, 247, 0.5) !important; /* semi-transparent black background */
    backdrop-filter: blur(0px); /* apply blur effect */
    border-radius: 20px;
}
